<div class="container">

    <!-- Page Heading -->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">Education and Teaching</h1>

    <!-- Early Years -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/early-years.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">Early Years And Education</h3>
        <p>Develop your understanding of the theoretical and practical elements of working with young children on this two-year foundation degree course. It offers the opportunity to develop your knowledge and understanding of a broad spectrum of modules related to the care and education of young children, with specific reference to the Early Years Foundation Stage (EYFS), Key Stage 1 and Key Stage 2 of the National Curriculum.</p>
        <a class="btn btn-primary" routerLink="../earlyYears">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- FDA Professional Studies (Early Childhood) -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/education-childhood.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">FDA Professional Studies (Early Childhood)</h3>
        <p>If you currently work in an early years setting with children aged between 0 and 8 years old, the Early Childhood pathway of our Professional Studies Foundation Degree is for you.</p>
        <p>Suitable roles include private or maintained nursery staff, child-minders, nannies or those working in a variety of professional settings with young children.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- FDA Professional Studies (Education)-->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/education.jpg" alt="" style="width: 700px; height: 500px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">FDA Professional Studies (Education) </h3>
        <p>If you are working and supporting children in primary, secondary and special schools, or with learners in further education colleges, the Education pathway of our Professional Studies Foundation Degree is designed for you.</p>
        <p> This work-focused foundation degree is a combination of practice-based learning and campus-based sessions, which run once a week so that you are able to continue in employment throughout the duration of the course.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- BA (HONS) Education Studies (Top-Up) -->
    <div class="row">

      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/education.jpg" alt="" style="width: 700px; height: 500px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">BA (HONS) Education Studies (Top-Up) </h3>
        
        <p>Education has a fundamental role to play in personal, social and professional development. Through education, you can make a difference in the lives of many learners from different and diverse backgrounds. This degree offers you the opportunity to develop the professional knowledge, skills and understanding required to follow a career in education.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>
  </div>
  <!-- /.container -->