<footer class="py-5 bg-dark">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-8">
          <h5>contact us:</h5>
          <p><i class="fas fa-map-marker-alt" style="font-size: 25px; color: #b2dddf;"></i>&nbsp; Park Crescent Campus, Peterborough, Cambridgeshire PE1 4DZ, United Kingdom</p>
          <p><i class="fas fa-mobile" style="font-size:25px; color: #b2dddf;"></i> &nbsp;01733 214466</p>
          
        </div>
        <div class="col-md-4">
          <h5>Follow us on social media</h5>
          <p><i class="fab fa-twitter" style="font-size: 25px; color:#b2dddf"></i>&nbsp; Twitter &nbsp;<i class="fab fa-facebook-f" style="font-size: 25px; color: #b2dddf;"></i>&nbsp;Facebook&nbsp; <i class="fab fa-youtube" style="font-size: 25px;color:#b2dddf;"></i>&nbsp;YouTube&nbsp;</p>
          <p><i class="fab fa-linkedin-in" style="font-size: 25px; color: #b2dddf;"></i> &nbsp;Linkedin &nbsp; <i class="far fa-envelope" style="font-size: 25px; color: #b2dddf;"></i>&nbsp;Email&nbsp;</p>
        </div>
      </div>
  
      <p class="m-0" style="text-align: center; color: #f08575;">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>