<div class="container">

  <h1 class="mt-4 mb-3" style="color: #31b7bc; text-align: center;">Support and Policies</h1>
  <div class="row">
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">Supporting students through covid</h3>
      <p>As the situation due to Covid is unprecedented and constantly changing, we follow the latest guidance and updates from the OfS (Office for Students), Public Health England (PHE) and the DfE (Department of Education).

        We are committed to providing an outstanding, supportive academic experience for all our students and the safety and wellbeing of our students and staff is at the heart of everything we do.
        
        We will continue to update all of our students as we adapt our plans. Weekly information will be provided to you via our Student Briefing (sent to your student email) and updates on this page.</p>
    </div>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">HE Student Charter 2020-21</h3>
      <p>We are in the process of aligning procedures across Peterborough and Stamford following the creation of the Inspire Education Group and transfer of HE students to UCP. It should be noted that the terms and conditions of those students who commenced study in 2020/21 will be retained. We have identified procedures which are currently being reviewed. </p>
    </div>
  </div>
  <br>
  <hr>

  <div class="row">
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">Academic Support</h3>
      <p>Our Student Support team is available to advise and guide you on issues relating to a range of academic issues which you may experience during your university life due to unforeseen circumstances such as illness, bereavement, employment or relationship breakdowns. These circumstances may impact on your assessments and/or attendance, which is why we are here to help support you through these difficult times. We can provide you with the relevant support and guidance with understanding the university regulations and implications that may occur. 

      </p>
    </div>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">UCP Action and Participation Plans</h3>
      <p>University Centre Peterborough (UCP) is committed to supporting the achievements of its students
        forging effective learning partnerships with them to guide, develop, challenge and support them
        throughout their academic journey. It is our ambition to raise aspiration and address the needs of the
        city and region. UCP is located in a purpose built HE facility and delivers 24 undergraduate courses
        across a broad range of subjects which include Science and Technology, Arts and Humanities,
        Education and Business. In 20/21 there are expected to be 369 FTE validated students and 130 FTE
        franchise. </p>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">Financial Support</h3>
      <p>The Care Leaver Bursary is to enable students who live in or have lived in care to pursue their studies at UCP. If you are a Care Leaver and studying a full-time undergraduate course you will receive a £500 cash bursary for each academic year.

        The Care Leaver bursary does not need to be repaid after graduating and is not added to your student loan. There is no separate application to be assessed if eligible for the Care Leavers bursary. All students will be considered for the bursary based on the information supplied in their course application. Applicants will additionally be required to submit evidence of Care Leaver status.</p>
    </div>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">Student Protection Policy</h3>
      <p>This policy is to clarify what an applicant or student can expect if unanticipated problems occur,
        including if their course or institution were to close. It highlights the arrangements for informing
        and consulting with students so that their rights and the responsibility of University Centre
        Peterborough (UCP) is clear. We will always take account of the diversity of our individual
        students and we will consider their individual needs and circumstances when affected by changes
        outlined in this plan and/or when the plan is triggered.
        </p>
    </div>
  </div>
  <br>
  <hr>
</div>