<div class="container">

  <h1 class="mt-4 mb-3" style="color: #31b7bc; text-align: center;">FaQ</h1>
  <div class="row">
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">Why should I choose to study with you?</h3>
      <p>University Centre Peterborough currently has around 700 students on over 30 different degree level programmes, including Archaeology, Business and Accounting, Computing, Construction, Education, Engineering, English Literature, Multimedia Journalism, Biosciences, Media and Performing Arts. 
        The University Centre is part of a strategic aim to develop this provision further in order to meet the growing demand for degree programmes in the city.</p>
    </div>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">What are my tutors like?</h3>
      <p>All tutors at University Centre Peterborough are industry speacialists.</p>
    </div>
  </div>
  <br>
  <hr>

  <div class="row">
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">How do I apply to study here?</h3>
      <p>You can apply to study at University Centre Peterborough via UCAS, should you need any support or guidance on filling in your UCAS application then please contact our admissions team.</p>
    </div>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">Is there any bursaries available?</h3>
      <p>The Care Leaver Bursary is to enable students who live in or have lived in care to pursue their studies at UCP. 
        If you are a Care Leaver and studying a full-time undergraduate course you will receive a £500 cash bursary for each academic year.
        The Care Leaver bursary does not need to be repaid after graduating and is not added to your student loan. 
        There is no separate application to be assessed if eligible for the Care Leavers bursary. 
        All students will be considered for the bursary based on the information supplied in their course application. 
        Applicants will additionally be required to submit evidence of Care Leaver status.</p>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">What are the current fees?</h3>
      <p> The current tution fees for studying at University Centre Peterborough as a full-time student is £8,000 </p>
    </div>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">What support is available?</h3>
      <p>We are dedicated to your success and will do everything in our power to help you achieve your goals. If you find yourself in need of some extra help with your studies we have a number of dedicated members of staff to help you with any queries or concerns, or even just to lend a supportive ear before and during your time with us. Our small class sizes allow the lecturers to get to know you personally and our students will be the first to agree that your knowledge and opinions are valued. Student Ambassadors, the Student Council, and a Student Experience Officer ensure that we respond to your needs and involve you in the decision making process.</p>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">Is student accomdation available?</h3>
      <p>Yes, most of our students who are studying away from home </p>
    </div>
    <br>
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <h3 style="color: #31b7bc;">What clubs and socities are there?</h3>
      <p>Currently due to the Covid crisis there are no active clubs and socities.</p>
    </div>
  </div>
</div>