<div class="container">
  
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">Science and Technology</h1>

    <!-- Animal Management -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/animal-management.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">HNC/HND Animal Management (Animal Behaviour And Welfare) </h3>
        <p>The Animal Management sector is evolving and expanding constantly and therefore requires an adaptable and knowledgeable workforce to meet these changes. This course will provide you with a solid in-depth introduction to animal welfare and management, to meet employer demands in such a competitive industry.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- FDSC Biological Sciences -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/biology.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">FDSC Biological Sciences</h3>
        <p>We will introduce you to the specific techniques and applications used in a broad range of sectors, including pathology, biomedicine, toxicology and forensics, as well as environmental settings such as pollution monitoring and control.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- BSC (HONS) Biological Science -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/bio.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">BSC (HONS) Biological Science</h3>
        <p>You will gain a detailed knowledge and understanding of key biological processes and principles, together with the technical and scientific skills you will need to acquire, interpret and analyse data in health or laboratory settings.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- BSC (HONS) Computing And Information Systems -->
    <div class="row">

      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/computing.jpg" alt="">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">BSC (HONS) Computing And Information Systems </h3>
        <p>The course is designed with modules to promote your professional growth and personal development. You will be encouraged to acquire key practical skills to help you build a broad base and deep knowledge of computing. This will allow you to make informed choices when developing specialist in-depth knowledge in your preferred areas.</p>
        <a class="btn btn-primary" routerLink="../computing">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>
  </div>
  <!-- /.container -->