<div class="container">

    <h1 class="mt-4 mb-3" style="text-align: center; color: #31b7bc"> About University Centre Peterborough </h1>

    <!-- Image Header -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active img-fixed"> 
          <img class="d-block w-100" src="assets/images/UCP.jpg" alt="University logo">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item img-fixed"> 
          <img class="d-block w-100" src="assets/images/students.jpg" alt="University logo">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
        <div class="carousel-item img-fixed"> 
          <img class="d-block w-100" src="assets/images/graduation.jpg" alt="University logo">
          <div class="carousel-caption d-none d-md-block">
          </div>
        </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
    <div class="row">
      <div class="col-lg-4 mb-4" >
        <div class="card h-100">
          <h4 class="card-header" style="text-align: center; color: #31b7bc;">Our Campus</h4>
          <div class="card-body">
            <p class="card-text"> Offically opened in October 2009, University Centre Peterborough offers a range of different courses based on different subject areas and taught by tutors who have experince working in those fields. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header" style="text-align: center; color: #31b7bc;">About us</h4>
          <div class="card-body">
            <p class="card-text"> University Centre Peterborough mission is <strong italic>'To engage, enable and empower students to meet the challenges of the future'</strong></p>
            <p> Students are also the heart of the University and are involved in the decision making process via the student council and student representatives. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header" style="text-align: center; color: #31b7bc;">Learning Resources</h4>
          <div class="card-body">
            <p class="card-text">Students are able to access most learning resources remotely, through Canvas and Anglia Ruskin's digital library</p>
            <p>Emails sent from the University to students are sent via student emails which can be accesed from outside of the building. It is recommended that students check their emails on a regular basis.</p>
          </div>
        </div>
      </div>
    </div>
  </div>