<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">Criminology</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="./courses.2">Social Sciences</a>
      </li>
      <li class="breadcrumb-item active">Criminology</li>
    </ol>

    <!-- Portfolio Item Row -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="../../assets/images/criminology.jpg" alt="" style="width: 750px; height: 500px;">
      </div>
      <div class="col-md-4">
        <h4 class="my-3" style="color: #31b7bc;">Key facts</h4>
        <ul>
          <li>Full-time: 3 years/ part-time: 4 years</li>
          <li>Start date: September 2021</li>
          <li>Tutition fees: £8,000 per year</li>
          <li>There may be additional costs</li>
          <br>
          <h4 class="my-3" style="color: #31b7bc;">Modules included:</h4>
          <li>Academic and Professional Skills for Social</li>
          <li>Introduction to Criminology</li>
          <li>Violence in Contemporary Society</li>
          <li>Policing and Investigation</li>
          <li>Undergraduate Major Project</li>
          <li>Exploring Employment</li>
        </ul>
      </div>
  
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title" style="color: #31b7bc;">About this course</h2>
          <p class="card-text">Criminology takes a social scientific approach to studying and classifying crime as well as exploring theories around criminal behaviour. In addition to theory, you will study the institutions of the criminal justice system including police, law courts, prisons and probation services. Students will get the opportunity to take trips to the Crown Court (including the Old Bailey) and participate in the Peterborough Crime Walk, police riot training and prison visits.</p>
          <p>You will have the opportunity to undertake a live research project with a range of local partners and undertake research that makes a material difference to people’s lives. This will enable you to graduate not just with a good degree but a range of real world experience which will help you progress into your desired career.</p>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <h3 class="my-4"style="color: #31b7bc;">Related Courses</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/psychosocial.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;"> BA (HONS) Psychosocial Studies</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/sociology.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;"> BA (HONS) Sociology</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/therapeutic-counselling.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;"> Diploma In Therapeutic Counselling</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/forensic-investigation.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">FDSC Forensic Investigation</h4>
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
