<div class="container">
  <h1 class="mt-4 mb-3" style="color: #31b7bc; text-align: center;">Events</h1>

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="../../assets/images/openDay.jpg" alt="" style="width: 750px; height: 300px;">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title" style="color: #31b7bc;">Open day</h2>
            <p class="card-text">Not sure if University Centre Peterborough is the right University for you?</p>
            <p>Come along to our free open day on Saturday 20th March 2021 to take a tour of our campus and meet current students as well as some of the university's alumni.</p>
            <p>You can also meet your potential tutors who will guide you in your journey at UCP and ask them any questions you may have.</p>
            <a href="form" class="btn btn-primary">Apply &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on  
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="../../assets/images/information.jpg" alt="" style="width: 750px; height:300px ;">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title" style="color: #31b7bc;">Parents information webinar</h2>
            <p class="card-text">Have a family member starting University Centre Peterborough in either January 2021 or September 2021 and are concerned about their student finances?</p>
            <p>Would you like to find out more about the different types of finical support/bursaries that University Centre Peterborough offer?</p>
            <p> Apply for our parent webinar and find out more.</p>
            <a href="#" class="btn btn-primary">Apply &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on 
      </div>
    </div>

    
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="../../assets/images/Event.jpg" alt="induction" style="width: 750px; height: 300px;">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title" style="color: #31b7bc;">Advice sessions for potential students</h2>
            <p class="card-text">Are you unsure if university is the right choice for you?</p>
            <p>Worried that you may have left attending university to late?</p>
            <p>Concerned about your finances why studying at UCP?</p>
            <br>
            <p>Apply to have a 1:1 sessions with one of our admissions team, discuss with them your worries and concerns and then worry no more.</p>
            <a href="#" class="btn btn-primary">Apply &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on 
      </div>
    </div>
  </div>
  <!-- /.container -->
