<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3" style="color: #31b7bc;">Accounting</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="../courses.1">Business and Professional</a>
    </li>
    <li class="breadcrumb-item active">Accounting</li>
  </ol>

  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="../../assets/images/accounting.jpg" alt="" style="width: 750px; height: 500px;">
    </div>

    <div class="col-md-4">
      <h3 class="my-3" style="color: #31b7bc;">Key facts</h3>
      <ul>
        <li>Lorem Ipsum</li>
        <li>Dolor Sit Amet</li>
        <li>Consectetur</li>
        <li>Adipiscing Elit</li>
      </ul>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title" style="color: #31b7bc;">About this course</h2>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- More courses-->
  <h3 class="my-4" style="color: #31b7bc;">Related Courses</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="../../assets/images/business.jpg" alt="" style="width: 500px; height: 200px;">
        <h4 style="color: #31b7bc;"> Business</h4>
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="../../assets/images/business-hr.jpg" alt="" style="width: 500px; height: 200px;">
        <h4 style="color: #31b7bc;"> Business with Human Resources</h4>
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="../../assets/images/business-marketing.jpg" alt="" style="width:  500px; height: 200px;">
        <h4 style="color: #31b7bc;">Business and Marketing</h4>
      </a>
    </div>
  </div>
  <!-- /.row -->

</div>
