<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3" style="color: #31b7bc;">Accounting</h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="../courses.1">Business and Professional</a>
    </li>
    <li class="breadcrumb-item active">Accounting</li>
  </ol>

  <div class="row">

    <div class="col-md-8">
      <img class="img-fluid" src="../../assets/images/accounting.jpg" alt="" style="width: 750px; height: 500px;">
    </div>

    <div class="col-md-4">
      <h4 class="my-3" style="color: #31b7bc;">Key facts</h4>
      <ul>
        <li>Full-time: 3 years/ Part-time: 4 years</li>
        <li>Start Date: September 2021</li>
        <li>Tuition fees: £8,000 per year</li>
        <li>There may be additional costs</li>
        <br> 
        <h4 class="my-3" style="color: #31b7bc;">Modules include</h4>
        <li>Corporate and Business Law</li>
        <li>People, Planet and Profits</li>
        <li>Auditing and Internal Controls</li>
        <li>Personal Taxation</li>
        <li>Corprate Taxation</li>
        <li>Undergraduate Major Project</li>
      </ul>
    </div>

    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title" style="color: #31b7bc;">About this course</h2>
        <p class="card-text">Ethics and sustainable business are covered, as is the ability to communicate effectively both in writing and orally, to work in teams and to be able to think critically and solve problems.</p>
        <p>The teaching and learning includes a diverse and dynamic range of strategies including practical classes and workshops.</p>
        <p>Students will be encouraged to be active learners whose knowledge and understanding is gained through the support of academic staff, who will act as mentors, rather than ‘lecturers’. Industry specialists are invited to lectures and again they will not be seen purely as ‘guest lecturers’, but as part of the university community.</p>
      </div>
    </div>
  </div>
  <!-- /.row -->

  <!-- More courses-->
  <h3 class="my-4" style="color: #31b7bc;">Related Courses</h3>

  <div class="row">

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="../../assets/images/business.jpg" alt="" style="width: 500px; height: 200px;">
        <h4 style="color: #31b7bc;"> Business</h4>
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="../../assets/images/business-hr.jpg" alt="" style="width: 500px; height: 200px;">
        <h4 style="color: #31b7bc;"> Business with Human Resources</h4>
      </a>
    </div>

    <div class="col-md-3 col-sm-6 mb-4">
      <a href="#">
        <img class="img-fluid" src="../../assets/images/business-marketing.jpg" alt="" style="width:  500px; height: 200px;">
        <h4 style="color: #31b7bc;">Business and Marketing</h4>
      </a>
    </div>
  </div>
  <!-- /.row -->

</div>
