<div class="container">

    <!-- Page Heading -->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">Creative Industries</h1>

    <!-- Digital Arts -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/digital-arts.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">FDA Digtial Arts</h3>
        <p>This industry driven two-year course provides a quick route into the digital and creative industries. The course is aimed at students with creative talents seeking to develop professional-standard skills to work in the creative and digital sectors. The digital and creative sectors have been identified as growing sectors both regionally and nationally. We will provide you with the skills and support to launch your career as a creative practitioner in one of the many occupations available in the creative and digital industries.</p>
        <a class="btn btn-primary" href="#">Learn more 
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Journalism -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/journalism.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">Journalism</h3>
        <p>Our journalism course is designed to enable you to train and develop as a practitioner so that you will be the ones to investigate and report on tomorrow’s news.

          If you want to become a journalist and explore what journalism is and where this fast paced and exciting industry is heading, this is the perfect course for you.</p>
        <a class="btn btn-primary" href="./journalism">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Media Production -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/meda-production.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">Media Production</h3>
        <p>Media Production is an industry focused-course drawing on core disciplines in TV production, film, audio production and digital media design. We have designed the course to equip you with the practical, creative and commercial skills needed to succeed in the creative media sector.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Performing Arts-->
    <div class="row">

      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/performing arts.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">Performing Arts</h3>
        <p>This Performing Arts degree is a practice-based course, equipping you with the interdisciplinary skill set required by the contemporary performer. Through core ‘Performance Skills’ and ‘Academic, Professional, Research and Employability Skills’ pathways, you will develop the foundations necessary to the autonomous, public-facing, and industry-engaged assessments later in the course.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>
  </div>
  <!-- /.container -->