<div class="container">
  <h1 class="mt-4 mb-3" style="color: #31b7bc; text-align: center;">News</h1>

    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="../../assets/images/mask.jpg" alt="" style="width: 750px; height: 300px;">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title" style="color: #31b7bc;">Covid update</h2>
            <p class="card-text"> Following the latest guidelines from the government regarding further/higher educational insitutes University Centre Peterborough will be conducting full online lessons from the 7th December 2020. Please read more about how University Cente Peterborough will be following the most current (at the time of publishing) guidelines regarding educational settings from January 2021</p>
            <a href="newsArticle" class="btn btn-primary">Read more &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on  
      </div>
    </div>

    <!-- Blog Post -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="../../assets/images/taverners.jpg" alt="" style="width: 750px; height:300px ;">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title" style="color: #31b7bc;">Information for Taverners hall Students</h2>
            <p class="card-text">For all students who are planning on staying at Taverners hall over the Christmas vaction please read more about how the University will be offering you support and guidence throughout this period.</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on 
      </div>
    </div>

    
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <a href="#">
              <img class="img-fluid rounded" src="../../assets/images/induction.jpg" alt="induction" style="width: 750px; height: 300px;">
            </a>
          </div>
          <div class="col-lg-6">
            <h2 class="card-title" style="color: #31b7bc;">Induction</h2>
            <p class="card-text">Induction this year will happen very differently from previous years due to the current global crisis. All students will be emailed regarding their timetables and days that they should psyhically be in the building.</p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        Posted on 
      </div>
    </div>
  </div>
  <!-- /.container -->
