<div class="container">
  <h1 class="mt-4 mb-3" style="color: #31b7bc; text-align: center;">Covid update</h1>
  
  <div class="card mb-4">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-6">
          <a href="#">
            <img class="img-fluid rounded" src="../../assets/images/mask.jpg" alt="" style="width: 750px; height:300px ;">
          </a>
        </div>
        
        <div class="col-lg-6">
          <br>
          <p class="card-text"> As we all have come to find out, 2020 has been a very trying and worrisome year for the entire world.</p>
          <p>After educational settings were closed and the whole Country went into lockdown the main concern of University Centre Peterborough was "How are we going to help ensure the safety of our students while still continuing to provide the best teaching that we can?"</p>
          <p>Our answer to this is simple, we are to follow the most up to date government guidelines.</p>
          <br>
          <p>However this has resulted in the University stopping all face to face teaching until January at the earliest. 
            With the second lockdown being lifted on the 2nd December we planned on ensuring that all students currently in Taverners Hall had ways and means of getting home should they choose to
            , while ensuring that students who wished to remain at Taverners are safe, have means of getting essential shopping and feel like they are being supported by the university.</p>
          <br>
          <p>We at University Centre Peterborough hope that our students can start to get back to a normalish way of life. </p>
          <p style="text-align: center;"> We hope you have a good vaction and look forward to welcoming you all back soon.</p>
        </div>
      </div>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>
</div>
