<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">BSC (HON) Computing And Information System</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../courses.5">Science and Technology</a>
      </li>
      <li class="breadcrumb-item active">Computing and Information System</li>
    </ol>

    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="../../assets/images/computing.jpg" alt="" style="width: 750px; height: 500px;">
      </div>

      <div class="col-md-4">
        <h3 class="my-3" style="color: #31b7bc;">Key facts</h3>
        <ul>
          <li>Lorem Ipsum</li>
          <li>Dolor Sit Amet</li>
          <li>Consectetur</li>
          <li>Adipiscing Elit</li>
        </ul>
      </div>
  
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title" style="color: #31b7bc;">About this course</h2>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis aliquid atque, nulla? Quos cum ex quis soluta, a laboriosam. Dicta expedita corporis animi vero voluptate voluptatibus possimus, veniam magni quis!</p>
        </div>
      </div>
    </div>

    <h3 class="my-4" style="color: #31b7bc;">Related Courses</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/HND-computing.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">HND Computing </h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/FDSC-Computing.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">FDSC Computing And Information Systems</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/digital-arts.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">FDA Digital Arts</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/meda-production.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">BA (HONS) Media Production</h4>
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->