<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">BSC (HON) Computing And Information System</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../courses.5">Science and Technology</a>
      </li>
      <li class="breadcrumb-item active">Computing and Information System</li>
    </ol>

    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="../../assets/images/computing.jpg" alt="" style="width: 750px; height: 500px;">
      </div>

      <div class="col-md-4">
        <h3 class="my-3" style="color: #31b7bc;">Key facts</h3>
        <ul>
          <li>Full time: 3 years / Part time: 4 years</li>
          <li>Start dates: January 2021/ September 2021 or January 2022</li>
          <li>Tution fees: £8,000</li>
          <li>There may be additional costs</li>
        </ul>
        <h3 class="my-3" style="color: #31b7bc;">Modules include</h3>
        <ul>
          <li>Systems Design and Development</li>
          <li>Mathematics for Computing</li>
          <li>Advanced Database Design</li>
          <li>Group Design Project</li>
          <li>Undergraduate Major Project</li>
          <li>Developing Ethical and Professional Skills</li>
        </ul>
      </div>
  
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title" style="color: #31b7bc;">About this course</h2>
          <p class="card-text">This course offers flexibility with 16 optional modules to choose from in years 2 and 3. It is ideal if you are looking for a wide range of computing skills: from web design and development with PHP and JavaScript, programming in languages such as C# and Python, mobile app coding in Java, and embedded systems with C++. You will develop skills in cyber security, database management and CISCO network systems support, and have the option to study specialised subjects such as AI with Machine Learning and Big Data. We will help you develop a systematic, creative and flexible approach to problem solving that computing professionals rely on.</p>
        </div>
      </div>
    </div>

    <h3 class="my-4" style="color: #31b7bc;">Related Courses</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/HND-computing.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">HND Computing </h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/FDSC-Computing.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">FDSC Computing And Information Systems</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/digital-arts.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">FDA Digital Arts</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/meda-production.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">BA (HONS) Media Production</h4>
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->