<div class="container">

    <!-- Page Heading-->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">Partner Courses</h1>

    <!-- HND Performing Arts (Dance) -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/dance.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">HND Performing Arts (Dance) </h3>
        <p>The aim of this course is to give you the dance technique you will require to sustain a professional career in dance. There is an intensive mix of studio practice, supported by research, professional dance workshops, external lectures, guest speakers, dance agency workshops and performances.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- HND Performing Arts (Musical Theatre) -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/musical.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">HND Performing Arts (Musical Theatre)</h3>
        <p>This course is delivered at the Eastern School of Performing Arts (ESPA) in Stamford and encompasses all aspects of Musical Theatre. It provides an excellent grounding in singing, dancing and acting, alongside developing individuality and performance skills. Working in a vocational manner, in a private theatre school setting allows students to focus and commit to their craft.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- BSC (HONS) Sport  -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/sports.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">BSC (HONS) Sport and Exercise Science (in partnership with Peterborough United Foundation) </h3>
        <p>This is a male and female student / athlete pathway in which you will study the BSc (Hons) Sport and Exercise Science degree alongside training and playing for Peterborough United Foundation. As with the mainstream course it will provide the opportunity to learn the skills and knowledge to prepare you for a career in sport, leisure or the health industry. But unlike the mainstream course this will also provide you opportunity to specifically develop your technical, psychological, tactical and physical attributes as a football player.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->
    <hr>

  </div>
  <!-- /.container -->