<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">Early Years And Education</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../courses.4">Education and Teaching</a>
      </li>
      <li class="breadcrumb-item active">Early Years and Education</li>
    </ol>

    <!-- Early Years -->
    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="../../assets/images/early-years.jpg" alt="" style="width: 750px; height: 500px;">
      </div>

      <div class="col-md-4">
        <h3 class="my-3" style="color: #31b7bc;">Key facts</h3>
        <ul>
          <li>Full-time: 2 years</li>
          <li>Start date: September 2021</li>
          <li>Tution fee: £8,000</li>
          <li>There may be additional costs</li>
        </ul>
        <h3 class="my-3" style="color: #31b7bc;">Modules include:</h3>
        <ul>
          <li>Play, Health and Wellbeing: The Reflective Practitioner Role</li>
          <li>Academic Skills in Education</li>
          <li>Work-based Research: Environment an Practice 1</li>
          <li>Safeguarding and Risk Management of Children and Young People</li>
          <li>Internal Perspectives of Child Learning</li>
          <li>Work-based Research: Environment and Practice 2</li>
        </ul>
      </div>
  
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title" style="color: #31b7bc;">About this course</h2>
          <p class="card-text">The course is a great option for existing early years and primary education practitioners or those who are looking at joining the sector whilst working with children. Working in the education sector is valuable to society and the local community with staff being key workers.</p>
          <p>All students can gain a CACHE Licence to Practice, which will enhance employment opportunities in a variety of roles within a nursery, primary school setting, children’s centre and with councils and hospitals.</p>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <h3 class="my-4"style="color: #31b7bc;">Related Courses</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/education-childhood.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">FDA Professional Studies (Early Childhood)</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/education.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">FDA Professional Studies (Education) </h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/education.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">BA (HONS) Education Studies (Top-Up) </h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/training.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">Education, Training And Skills (Certifcate/Professional Graduate Diploma) </h4>
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
