<div class="container">
    <!-- Page Heading -->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">Business and Professional</h1>

    <!-- Accounting -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/accounting.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5" >
        <h3 style="color: #31b7bc;">BSC (HONS) Accounting and Finance</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium veniam exercitationem expedita laborum at voluptate. Labore, voluptates totam at aut nemo deserunt rem magni pariatur quos perspiciatis atque eveniet unde.</p>
        <a class="btn btn-primary" routerLink="../accounting">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!--FDSC Business Management-->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/business.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">FDSC Business Management</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut, odit velit cumque vero doloremque repellendus distinctio maiores rem expedita a nam vitae modi quidem similique ducimus! Velit, esse totam tempore.</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- BSC (HONS) Business Management With Human Resources -->
    <div class="row">
      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/business-hr.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">BSC (HONS) Business Management With Human Resources</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, temporibus, dolores, at, praesentium ut unde repudiandae voluptatum sit ab debitis suscipit fugiat natus velit excepturi amet commodi deleniti alias possimus!</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- BSC (HONS) Business Management With Marketing -->
    <div class="row">

      <div class="col-md-7">
        <a href="#">
          <img class="img-fluid rounded mb-3 mb-md-0" src="../../assets/images/business-marketing.jpg" alt="" style="width: 700px; height: 300px;">
        </a>
      </div>
      <div class="col-md-5">
        <h3 style="color: #31b7bc;">BSC (HONS) Business Management With Marketing</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quidem, consectetur, officia rem officiis illum aliquam perspiciatis aspernatur quod modi hic nemo qui soluta aut eius fugit quam in suscipit?</p>
        <a class="btn btn-primary" href="#">Learn more
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div>
    <!-- /.row -->

    <hr>

  </div>
  <!-- /.container -->