<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3" style="color: #31b7bc;">Journalism</h1>

    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="../courses.3">Creative Industries</a>
      </li>
      <li class="breadcrumb-item active">Journalism</li>
    </ol>

    <div class="row">

      <div class="col-md-8">
        <img class="img-fluid" src="../../assets/images/journalism.jpg" alt="" style="width: 750px; height: 500px;">
      </div>
      <div class="col-md-4">
        <h3 class="my-3" style="color: #31b7bc;">Key facts</h3>
        <ul>
          <li>Full-time: 3 years/ Part-time: 4 years</li>
          <li>Start date: September 2021</li>
          <li>£8,000 per year</li>
          <li>Additional fees may apply</li>
        </ul>
        <h3 class="my-3" style="color: #31b7bc;">Key facts</h3>
        <ul>
          <li>Law and Ethics for Journalists</li>
          <li>Introduction to Digital Publishing</li>
          <li>Shortthand</li>
          <li>Mobile Journalism</li>
          <li>Major Project</li>
          <li>Professional Development</li>
        </ul>
        
      </div>
  
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title" style="color: #31b7bc;">About this course</h2>
          <p class="card-text">Our journalism course is designed to enable you to train and develop as a practitioner so that you will be the ones to investigate and report on tomorrow’s news.
            If you want to become a journalist and explore what journalism is and where this fast paced and exciting industry is heading, this is the perfect course for you.</p>
          <p>Delivered at the state-of-the-art Media and Journalism Centre in the heart of the city and at the University Centre main campus, you will learn under the guidance of current industry professionals and be given a practical grounding in print, radio, photo and digital journalism.

            You will learn how to produce imaginative and incisive copy to deadline as well as developing a range of skills to ensure you have the creativity and versatility to thrive in today’s industry. You’ll look at the problems, pitfalls and potential for today’s journalism, studying its past and debating its future.</p>
        </div>
      </div>
    </div>
    <!-- /.row -->

    <!-- Related Subjbects Row -->
    <h3 class="my-4">Related Courses</h3>

    <div class="row">

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/english-lit.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">BA (HONS) English Literature </h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/english-writing.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;">BA (HONS) English Literature With Creative Writing </h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/FDSC-Computing.jpg" alt="" style="width: 500px; height:  200px;">
          <h4 style="color: #31b7bc;">FDSC Computing And Information Systems</h4>
        </a>
      </div>

      <div class="col-md-3 col-sm-6 mb-4">
        <a href="#">
          <img class="img-fluid" src="../../assets/images/digital-arts.jpg" alt="" style="width: 500px; height: 200px;">
          <h4 style="color: #31b7bc;"> FDA Digital Arts</h4>
        </a>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
